footer {
    display: flex;
    margin-top: 10rem;
    justify-content: space-between;
    align-items: center;
}

.pays-footer {
    padding-left: 5rem;
}

.logo-footer {
    margin-left: 21rem;
}

.menu-footer {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    padding-right: 5rem;
}

.menu-footer a {
    text-decoration: none;
    color: black;
}
